header{
    background-color: black;
    color: white;
    padding: 2rem;
    min-height: 100vh;
    height: 100vh;
   
}

body{
    overflow-x: hidden;
}



.domain-title{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 3rem;
}

.trending-btn{
    color: #F75648;
    letter-spacing: 5px;
}

.header-arena{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    height: 80%;
    /* gap: 2rem; */
}

.header-ls{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

header .news .news-data{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    font-size: 1.1rem;
    padding-left: 1rem;
}

header .news {
    display: flex;
    gap: .4rem;
    font-size: 1.1rem;
    padding-left: 1rem;
    flex-direction: column;
    transition: all ease-in-out 400ms;
    cursor: pointer;
}

.header-ls .news:hover{
    border-left: 2px solid #3865c5 ;
}

.progress-bar{
    height: 100%;
    width: 2px;
    display: flex;
    align-items: flex-start;
    border-radius: 12px;
}

.progress-bar #fill-1{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background-color: #3865c5;
}



header .news-title{
    color: #A6A6A6;
    font-weight: bold;
}

header .news-num{
    color: white;
    font-weight: bold;
}


.active-news .news-num{
    color: #467EF3;
}

.header-rs .header-img img{
    border-radius: 12px;
    border: 2px solid white;
}

.tab-bar{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.tabs{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 90%;
}

.tabs .tab{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid black;
    padding: .2rem 4rem;
    display: flex;
    align-items: center;
    border-radius: 24px;
}

.active-tab{
    background: linear-gradient(180deg, #3865c5, #002066 20%);
    color: white;
   
}

.hamburger, .btm-btn{
    background-color: black;
    padding: .4rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.main-arena{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex:nth-child(even){
    flex-direction: row-reverse;
}

.flex-news{
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}

.flex-news .news{
    display: flex;
    gap: 2rem;
}

.flex-news .news-number, .flex-news .news-title{
    font-weight: bold;
}

.flex-img img{
    height: 10rem;
}

aside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.new-v-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 90%;
}

.new-v-news .news{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.new-v-news .news .news-data{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: flex-start;
    justify-content: space-between;
}

.new-v-news .news .news-data .news-title{
    font-weight: 600;
    font-size: 1.1rem;
}

.ad{
    width: 10%;
}

.div-main{
    display: flex;
}

.bottom-tab-arena{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-tab-arena .bottom-tab{
    padding: .5rem 2rem;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
    border-radius: 12px;
}

.bottom-tab-arena .active-btm{
    color: #F75648;
}

.pagination{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
}

.pages{
    display: flex;
    align-items: center;
    gap: .5rem;
}


.active-pg{
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: 100%;
}

.pg{
    background-color: black;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}


@media screen and (max-width : 800px) {
    
    header{
        height: auto;
    }
    
    .header-arena{
        flex-direction: column-reverse;

    }

    .header-arena img{
        height: 150px;
    }
    .header-ls{
        padding: 0;
    gap: 2rem;

    }
    .tab-bar{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .tabs{
        gap: 1rem;
    }
    .tabs .tab{
        font-size: .9rem;
    }
    .flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .flex:nth-child(even){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .flex-img img{
        height: 7rem;
    }

    .flex-news .news-number{
        display: none;
    }


}
