:root{
    --blue-col : #0033A0;
    --fade-col : #D9D9D9;
}



.snp-marquee{
    margin-top: 12px;
    background-color: black;
    color: aliceblue;
    padding: .5rem 0rem;
    display: flex;
    align-items: center;
}

#marquee{
    width: 30%;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.red{
    color: #F75648;
}

label.green{
    color: green;
}


main.body-main{
    display: flex;
}

.ad{
    width: 30%;
}

.domains-arena{
    display: flex;
    padding: 2rem 2rem;
    gap: 2rem;
    justify-content: center;
}

.domains-arena .flex{
    width: 30%;
}

.domains-arena .flex-1, .domains-arena .flex-2{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border: 2px solid black;
}

.domains-arena .flex {
    padding: 1rem;
    border-radius: 12px;
}





.trending-btn{
    color: #CE0000;
    font-size: .7rem;
}


.trending-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.white-card{
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid black;
    transition: all ease-in-out 400ms;
}

.title-2, .card-title{
    font-weight: 600;
    font-size: 1.6rem;
}

.white-card:hover{
    transform: translateY(-.5rem);
}

.card-title{
    text-transform: uppercase;
    font-size: 1.2rem;

}

.white-card .card-desc{
    /* margin-top: 1rem; */
    padding: 1rem 0rem;
    font-size: .7rem;
    color: #5B5B5B;
    text-align: center;
}

.dashboard-card-description{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.rajdhani-layout .date{
    font-weight: 1000;
    border-bottom: 2px solid black;
    width: 100%;
    /* display: flex; */
    /* align-items: flex-end; */
    text-align: right;
}

.finance-main{
    display: flex;
    padding: 2rem;
    /* gap: 10%; */
    justify-content: space-around;
}

.finance-main .ls-finance{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    padding: 1rem;
    padding-bottom: 0;

}

.ls-finance .row{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #7D7D7D; */

}



.ls-finance .row .rs{
    /* padding: 1rem; */
    background-color: #000000;
}

.ls-finance .row .rs img{
    filter: opacity(.4);
    /* padding: 1rem; */
}

.ls-finance .row .rs img:hover{
    border-radius: 0;
    object-fit: contain;
    padding: 0;
    filter: opacity(1);

}

.finance-ls{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    gap: 1rem;
    cursor: pointer;
}

.finance-ls .row-title{
    font-weight: bold;
}

.finance-ls:hover .row-title{
    color: #F75648;
}

.finance-rs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.finance-news{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.finance-news .news-header{
    display: flex;
    gap: 2rem;
}

.finance-news .news-header div{
    font-weight: bold;

}

.finance-news .news-sub-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
}

.rajdhani-layout h1{
    font-weight: bold;
}

.bill-main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.bill-ls{
    background-color: black;
    height: 70vh;
    width: 49%;
    display: flex;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.bill-ls:hover .num-1-title{
    color: #F75648;
}

.num-1{
    padding: 2rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.outer-cube{
    background-color: #fff;
    /* border: 1px solid black; */
    height: 70%;
    width: 60%;
    border-radius: 1rem;

}

.inner-cube{
    background: linear-gradient(112.74deg, #000000 0.94%, #0033A0 98.61%);
    width: 95%;
    height: 95%;
    position: relative;
    right: 0%;
    left:5%;
    border-radius: 1rem;
}

.inner-cube .bill-img{
    position: relative;
    bottom: 0%;
    top: 56%;
    right: 0%;
    left: 45%;
}

.bill-rs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.bill-rs .bill{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: .5rem;
}

.bill-rs .bill .bill-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    gap: 2rem;
}
.bill-rs .bill .bill-head div{
    
    font-weight: bolder;
}

.bill-rs .bill .bill-desc{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;    
    align-self: flex-start;
    gap: 2rem;
}

.bill-img img{
    height: 60px;
}

.company-name{
    font-weight: bold;
}

.tech-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;

}

.tech-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 50%;
}



.tech-grid img{
    pointer-events: none;
    width: 100%;
   
    border-radius: 12px;
    z-index: -1;
}

.tech-grid  .tech-data{
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    gap: 1rem;

}


.grid-card{
    cursor: pointer;
}

.tech-grid .grid-card:hover .tech-title{
    text-decoration: underline;
}

.article-open{
    cursor: pointer;
}

.tech-header{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tech-grid .grid-card .tech-data .tech-header div{
    font-weight: bold;

}



.tech-flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flex-card{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    color: #fff;
    border-radius: 12px;
}

.flex-card:hover{
    background-color: #000000;

}

.flex-card img{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: -1;

}

.flex-card .flex-data{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.flex-card .flex-data .flex-title{
    display: flex;
    justify-content: space-between;

}

.lifestyle-arena .flex-3{
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 2rem;
}

.div-1{
    color: black;
    border: 1px solid black;
    border-radius: 12px;
}

.lifestyle-arena .div-1{
    height: 70vh;
}

.div-1:hover .long-title{
    text-decoration: 1px underline;
}

.long-header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.long-desc{
    padding: 1rem;
}

.gainer-table, .looser-table, .bill-table-div{
     border-radius: 12px;
    width: 100%;
     overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.looser-table{
    display: none;
}


.place-divs{
    height: 1rem;
    display: flex;
}

.long-div-green{
    width: 21rem;
    border-radius: 2rem;
    background-color: #DADE10;
    /* z-index: 1; */
    height: 100%;
    display: flex;
    gap: 2rem;
}

.long-div-red{
    width: 21rem;
    border-radius: 2rem;
    background-color: #F75648;
    /* z-index: 1; */
    height: 100%;
    display: flex;
    gap: 2rem;
    display: none;
}

.long-div-red .short-div-2{
    height: 1rem;
    /* position: relative; */
    width: 4.5rem;
    border-radius: 12px;
    background-color: white; 
}

.long-div-red .short-div{
    height: 1rem;
    /* position: relative; */
    width: 15rem;
    border-radius: 12px;
    background-color: white;
}


.long-div-green .short-div-2{
    height: 1rem;
    /* position: relative; */
    width: 16rem;
    border-radius: 12px;
    background-color: white; 
}

.long-div-green .short-div{
    height: 1rem;
    /* position: relative; */
    width: 4.5rem;
    border-radius: 12px;
    background-color: white;
}


.market-table, .bill-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.bill-table-div{
    width: 80%;
}



.market-table td, .market-table th, .bill-table th, .bill-table td {
    text-transform: uppercase;
    padding: 8px;
}


.market-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #DADE10;
    font-weight: bold;
    color: black;
}

.bill-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: bold;
    color: gray;
    padding-right: 1rem;
    border-bottom: 1px solid gray;
}



.bill-table td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.bill-tbl-rank{
    color: gray;
    font-weight: bold;
}

.bill-tbl-name{
    font-weight: bold;
}

.bill-tbl-down{
    color: red;
    font-weight: bold;
}

.bill-tbl-up{
    color: green;
    font-weight: bold;
}

.bill-tbl-down span img{
    transform: rotateX(180deg);
}

.market-ls{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market-table tr{
    border-bottom: 1px solid #D9D9D9;
    background-color: black;
    color: #D9D9D9;
}

.table-head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

}

.looser-head, .gainer-head{
    padding: .5rem 2rem;
    background-color: #A0A0A0;
    font-weight: bold;
    border-radius: 12px;
}  

.active-gn{
    background-color: #DADE10;
}

.active-ls{
    background-color: #F75648;
}

#looser-table th{
    background-color: #F75648;
}

.market-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.market-rs{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
}

.markets{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.market-data-container{
    padding: 1rem 2rem;
    background-color: #A0A0A0;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;
}

.row{
    display: flex;
    gap: 1rem;
}

.market-data-container div, .market-data-container h2 {
    font-weight: bold;
}

.active-market-data{
    background-color: black;
}

#market-graph{
    height: 300px;
    background-color: #A0A0A0;
    border-radius: 12px;
}

.container-modal, .video-modal{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.577);
    top: 0;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    display: none;
    gap: 1rem;
    z-index: 1;
}

.video-modal{
    position: fixed;
}

.cross-cm, .cross-vid{
    background-color: black;
    color: white;
    padding: .4rem 1rem;
    border-radius: 8px;
}

.article-modal{
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 0;
    padding: 2rem;    
    min-height: 100vh;
    width: 100%;
    background-color: #000000b8;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    gap: 3rem;
    display: none;
}

.life-long-img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    object-fit: cover;
    padding: 0;
    object-position: top;
    filter: opacity(1);
    width: 100%;
    height: 60%;
}

.white-card{
    cursor: pointer;
}

.article-modal .cross{
    align-self: flex-end;
}

.article-modal-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}


.article-modal-container .article-data{
    text-align: justify;
}

.article-modal-container .modal-rs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.anychart-credits-text, .anychart-credits-logo{
    display: none;
}

@media screen and (max-width:1000px) {

    .snp-marquee{
        padding: .2rem;
    }

    marquee{
        height: 1rem;

    }

    .white-card{
        display: none;
    }
    .domains-arena{
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }



    .domains-arena .flex{
        width: 90%;
        border: none;
    }

    .domains-arena .flex-2{
        display: none;
    }

    .finance-main{
        flex-direction: column;
        gap: 2rem;
    }
    .finance-main .row, .finance-main .row:nth-child(even){
        flex-direction: column-reverse;
        border: 1px solid black;
        /* padding: 1rem; */
        height: 400px;
        width: 70%;
    }

    .ls-finance .row .rs{
        width: 100%;
        height: 80%;
    }

    .ls-finance .row .rs img{
        border-radius: 0;
        object-fit: cover;
        padding: 0;
        filter: opacity(1);
        width: 100%;
        height: 100%;
    }

    .ls-finance .row .rs img:hover{
        border-radius: 0;
        object-fit: cover;
        padding: 0;
        filter: opacity(1);
        width: 100%;
    }
    
    
    .finance-main .ls-finance{
        gap: 2rem;
        max-width: 100%;
        width: unset;
        border: none;
        align-items: center;
    }

    .finance-ls{
        gap: .1rem;
    }

    .bill-main{
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }
 
    .inner-cube{
        position: unset;
        width: 95vw;
        height: 95%;
       
    }
    .bill-ls{
        display: flex;
        flex-direction: column-reverse;
        background-color: transparent;
        color: #000000;
        padding: 0;
    }

    .inner-cube .bill-img{
        bottom: 0%;
        top: 35%;
        right: 0%;
        left: 50%;
    }
    .num-1{
        width: 80vw;
    }

    .bill-rs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        align-self: center;
        gap: 2rem;
    }

    .tech-main{
        flex-direction: column;
        padding: 2rem;
        gap: 3rem;
        align-items: center;
    }

    .tech-grid{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .grid-card{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .lifestyle-arena .flex-3{
        flex-direction: column;
        align-items: center;
    }

    .lifestyle-arena .flex-3 .div-1{
        width: 63.5%;
    }

   
    .market-main{
        flex-direction: column;
        padding: 1rem;
    }
    
    body{
        overflow-x: hidden;
        width: 100vw;
    }

    main.body-main{
        flex-direction: column;
        overflow-x: hidden;
        width: 100%;
    }
    
    div.ad{
        background-color: rebeccapurple;
    }

    


}


@media screen and (max-width :500px) {
    html{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    body{
        min-width: 100vw;
        padding: 0;
        margin: 0;

    }

    .ls-finance .row{
        width: 80vw;
    
    }
    


}