@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');


:root{
    --blue-col : #0033A0;
    --fade-col : #D9D9D9;
}


*{
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    width: 100vw;
    position: relative;
}


ul.link-ul{
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
}

ul.side-ls{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style-type: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

.login-link{
    color: red;
}

.magazine-link{
    padding: .4rem 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(92.96deg, #F75648 0%, #0033A0 100%);

    border-radius: 12px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem ;
    color: var(--fade-col);
    margin: 0;
}

.footer-top{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1, h2, h3{
    text-transform: uppercase;
}

.blue-text{
    color: var(--blue-col);
}

.footer-news{
    padding: .5rem 1rem ;
}

.first-ft-news{
    margin-top: 2rem;
}

.footer-rs{
    justify-self: flex-start;
    width: 30%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    color: var(--fade-col);
    gap: 2rem;
}

.bottom-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-size: .7rem;
    color: #7D7D7D;
}

.rajdhani-layout{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

h3.title-3{
    font-weight: 700;
    font-size: 2rem;
}

nav .hamburger{
    display: none;
}

.mob-logo{
    display: none;
}

.footer-news{
    cursor: pointer;
}

.footer-news:hover .news-tag{
    color: #0033A0;
}

.footer-rs h3{
    cursor: pointer;
}

.footer-rs h3:hover{
    color: #F75648;
}

a{
    color: #D9D9D9;
}

.sidebar{
    position: absolute;
    display: inline-block;
    top: 10%;
    left: 80%;  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    background-color: black;
    padding: 1rem 1rem;
    width: 18%;
    
    z-index: 3;
    border-radius: 12px;
    display: none;
}

.side-main{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* gap: 5rem; */
}

.side-main .link-ul{
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tab-bar{
    position: relative;
}

.cross-btn{
    color: white;
}

.center-nav li a{
    font-size: 1.2rem;

    font-weight: bolder;
}

.side-ls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.side-ls li {
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

.side-ls li a:hover{
    color: #F75648;
}


@media screen and (max-width: 800px) {
    .link-ul{
        display: none;
        opacity: 0;
        position: absolute;
        visibility: hidden;
    }

 

    .sidebar .link-ul{
        display: flex;
        opacity: 1;
        position: unset;
        visibility: visible;
    }

    .mob-logo{
        display: block;
        font-size: 2rem;
        letter-spacing: 1.2px;
        font-weight: bold;
        color: #D9D9D9;
    }

    nav .hamburger{
        display: block;
    }

    .logo{
        display: none;
    }
    .footer-news{
        display: none;
    }
    .footer-top{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .footer-rs{
        padding: 1rem;
    }

    .bottom-footer{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }

   
}