
.vid-flex-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}

.short-vid, .long-vid{
    width: 25vw;
    background-color: #00000073;
    border-radius: 24px;
    color: white;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.short-vid:hover, .long-vid:hover{
    background-color: transparent;
    color: black;
}

.short-vid:hover div, .long-vid:hover div{
    font-weight: bold;

}

.short-vid img, .long-vid img{
    object-fit: cover;
    object-position: top;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: -1;
}

.short-vid{
    height: 200px;
}

.long-vid{
    height: 434px;
}

.vid-news{
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: relative;
    right: 0%;
    left: 90%;
    top: 5%;
}

.vid-flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}


.short-vid .vid-title{
    position: relative;
    bottom: 0%;
    top: 30%;
    left:1rem;
}

.long-vid .vid-title{
    position: relative;
    bottom: 0%;
    top: 68%;
    left:1rem;
}


.podcast-main{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.podcast-card{
    border-radius: 12px;
    color: white;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    height: 200px;
}

.podcast-card img{
    object-fit: cover;
    object-position: top;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 120%;
    border-radius: 12px;
    z-index: -1;
    top: -10%;
    size: 100%;
}

.bill-name, .bill-desc{
    display: none;
}

.top-pods{
    height: 100%;
    width: 100%;
}

.top-pods .bill-sub{
    position: relative;
    left: 75%;
    top: 40%;
    background-color: white;
    height: fit-content;
    color: black;
    display: inline;
    padding: .3rem 1rem;
    border-radius: 8px;
    z-index: 2;
}

.podcast-card:hover{
    background-color: black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}   

.podcast-card:hover .top-pods{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: right;
}



.podcast-card:hover img{
    object-fit: contain;
    pointer-events: none;
    position: inherit;
    width: 50%;
    height: 50%;
    border-radius: 12px;
    z-index: 1;

}



.podcast-card:hover .bill-desc, .podcast-card:hover .bill-name, .podcast-card:hover .bill-sub{
    display: block;
    text-align: right;
    position: unset;
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 800px) {
    .long-vid{
        display: none;
    }
    .vid-flex-container{
        flex-direction: column;
        align-items: center;

    }

    .short-vid{
        width: 75vw;
    }

    .podcast-main{
        display: flex;
        flex-direction: column;
    }

    .bill-sub{
        left: 65%;
    }
}